.*
/bin
/dump
/env
/go
/isucon12-final
/local
/resource
webapp/admin
webapp/frontend
webapp/node
webapp/perl
webapp/php
webapp/ruby
webapp/rust
webapp/go/isuconquest
webapp/sql/4_alldata_exclude_user_presents.sql
webapp/sql/5_user_presents_not_receive_data.tsv
!.gitignore
